
.route-container {
    margin: 15px;
}

.route-header {
    color: #32384d;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    letter-spacing: 0.15em;
    text-align: center;
}

.route-info-boxes {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    padding-bottom: 15px;
}

.info-box {
    border: 2px solid #bababa;
    background-color: #96A6BF;
    color: white;
    margin: auto;
    padding: 30px;
    font-weight: lighter;
    letter-spacing: 0.15em;
}

.cities-list {
    width: 75%;
    margin: auto;
    font-weight: lighter;
    letter-spacing: 0.15em;
    line-height: 1.5rem;
}

.map-container {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: fit-content;
}

.map-elements {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.map-keys {
    display: flex;
    flex-direction: row;
    padding: 15px;  
    align-items: center;
}

.map-text {
    padding-left: 15px;
    width: 75%;
    font-weight: lighter;
    letter-spacing: 0.03em;
    line-height: 1.5rem;
}

.gallery-subtitle {
    text-align: center;
    padding: 20px;
    font-weight: lighter;
    letter-spacing: 0.25em;
    font-size: 1.25rem;
}

.main-timeline{ 
    position: relative; 
    margin: 0 15px;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    margin: auto;
}

@media only screen and (max-width: 1185px) {
 
.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

@media only screen and (max-width: 700px) {
.route-info-boxes {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
}