.saved-items {
    border: 2px solid #575f6d;
    border-radius: 8px;
    width: 35%;
    padding: 0 10px;
    height: 250px;
    overflow-y: scroll;
    color: white;
    margin: auto;
    background-color: white;
}

.saved-search-text {
    background-color: white;
    top:0;
    position: sticky;
    color: #453E45;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 0.15em;
    padding: 10px;
    border-bottom: 2px solid #453E45;
}

.saved-inst-text {
    color: #453E45;
    font-family: sans-serif;
    font-size: 1.15rem;
    font-weight: lighter;
    letter-spacing: 0.15em;
    }