.explore-container {
  margin: auto;
  width: 85%;
}

.explore-text-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.explore-title {
  color: #32384d;
  font-family: "Apple Chancery", cursive;
  font-size: 3.5rem;
  letter-spacing: 0.15em;
}

.explore-text {
  font-size: 1.15rem;
  color: #453e45;
  text-align: left;
  width: 75%;
  letter-spacing: 0.15em;
  line-height: 1.5rem;
  background-color: rgb(194, 209, 231);
  padding: 15px;
  border-radius: 8px;
}

.explore-item-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  width: 85%;
  margin: auto;
}

.explore-item {
  margin: auto;
  text-align: center;
  cursor: pointer;
  /* transition: transform 0.3s; */
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 50px;
}

.explore-image {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  box-shadow: 0 0 7px #453e45;
}

.explore-image:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #453e45;
}

.explore-item-text {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 0.15em;
  color: #32384d;
}

/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
  .explore-text-container {
    display: flex;
    flex-direction: column;
  }

  .explore-title {
    margin: 0;
  }

  .explore-text {
    text-align: center;
  }

  .explore-item-container {
    display: flex;
    flex-direction: column;
  }

  .explore-item {
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-bottom: 10px;
  }
}
