.about-hero-container-image {
  height: 600px;
  width: 100%;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
}

.about-heroPic {
  object-fit: cover;
  width: 100%;
  height: auto;
  opacity: 60%;
  transform: scaleX(-1) translateY(-400px);
  position: relative;
}

/* Page title and subtitle styles found in blog hero styles file*/

.text-blurb-content-container {
  flex: 1;
  font-family: sans-serif;
}

.began-text-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.how-it-began {
  color: #32384d;
  font-family: "Apple Chancery", cursive;
  font-size: 3.5rem;
  letter-spacing: 0.15em;
}

.began-remaining-text {
  font-size: 1.15rem;
  color: #453e45;
  letter-spacing: 0.15em;
  line-height: 2rem;
}
.blurb-about {
  font-size: 1.15rem;
  color: #453e45;
  letter-spacing: 0.15em;
  line-height: 1.5rem;
  background-color: rgb(194, 209, 231);
  padding: 15px;
  border-radius: 8px;
  width: 60%;
}
